.users-page {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.users-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-new-user-btn {
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    background: #212b36;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: none;
}
.users-data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    background-color: rgb(227, 232, 236);
}
