.account-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.drop-menu-language {
  list-style: none;
}

.action-item-notification {
  display: flex;
  align-items: center;
  position: relative;
}

.action-item-notification span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 12px;
  padding: 3px;
  background-color: red;
  border-radius: 50%;
}

.notification-list {
  position: absolute;
  padding: 10px;
  top: 55px;
  right: 0;
  width: 230px;
  border: 1px solid #e6e4e4;
  transition: all 0.3s;
}
