.user-item-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}
.user-item-action div {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    padding: 10px;
    background-color: #7a7979;
    top: 30px;
}
