.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    margin: 3px 0;
}

.menu-item-active {
    background: linear-gradient(90deg, #7ad5ee 0%, #5898e6 50%);
    border-radius: 5px;
    color: white;
    transition: ease-in-out 0.3s;
}
