.header {
  position: absolute;
  width: calc(100% - 340px);
  left: 300px;
  height: 80px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e4e4;
}
.header-menu {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 25px;
  border-radius: 50%;
  transition: all 0.3s;
}

.header-menu:hover {
  background: rgba(175, 172, 172, 0.4);
}

.header-open {
  left: 0;
  width: calc(100% - 40px);
}
