.wrapper {
    width: 100%;
    height: min-content;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: min-content;
    display: flex;
}

.content {
    position: absolute;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 330px;
    top: 100px;
    z-index: -100;
}

.menu-open .content {
    left: 50px;
}

.content-open {
    display: flex;
    align-items: start;
    justify-content: center;
    width: calc(100% - 360px);
    min-height: 100vh;
    z-index: -100;
}
